<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Segue ID Test Cell</string>
		<key>segueID</key>
		<string>openTestPage</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Controller Test Cell</string>
		<key>controllerName</key>
		<string>HPPluginRepo.HDKTest2ViewController</string>
	</dict>
</array>
</plist>
